streamlit
fastapi
uvicorn
torch
torchvision
pillow
numpy
pandas
requests
google-generativeai
python-multipart
sentence-transformers
faiss-cpu
pypdf
python-dotenv
grad-cam
opencv-python-headless
matplotlib
opencv-python-headless